<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>karte_app_key</key>
    <string>vYHpGlABWSL1QVyM73C6me0FN4Mgk2Qh</string>
    <key>karte_api_key</key>
    <string>edf1763ff27d3370e3c26ebf39812a07</string>
</dict>
</plist>